@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: red;
    height: 50vh;
    color:white;
    text-align: center;
    display: grid;
    place-items: center;
    background:linear-gradient(
        to bottom right,
        red,
        orange
    );   
  }
h1  {
    width: 15ch;
    font-size: 35px;
}

.profile {
    text-align: center;
    position: relative;
    top: -75px;

}
.profile__avatar {
    width: 140px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 4px 4px black;
}
.profile__copy {
    font-style: italic;
    margin: 32px auto;
    width: 70ch;

}
.profile__social,.footer__social{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 25px;
    width: fit-content;
    margin: 0 auto;
    color: blue;
    font-size: 22px;
}
.footer {
    background: black;
    position: fixed;
    height: 100px;
    width: 100vw;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    box-sizing: border-box;
    padding: 25px;
    bottom: 0;
}

.footer__social {
    margin: 0;
    color: white;
    justify-self: end;
}
/* Separator */ 
.separator {

    position: absolute;
    width: 720px;
    height: 0px;
    left: 200px;
    top: 798px;
    border: 1px solid white;
}
